# директория, где будут храниться данные etcd
ETCD_DATA_DIR=/var/lib/etcd
ETCD_ADVERTISE_CLIENT_URLS=https://{{ local_ip }}:{{ etcd_client_port }},https://127.0.0.1:{{ etcd_client_port }}
ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ local_ip }}:{{ etcd_peer_port }}
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_METRICS=basic
ETCD_LISTEN_CLIENT_URLS=https://{{ local_ip }}:{{ etcd_client_port }},https://127.0.0.1:{{ etcd_client_port }}
ETCD_ELECTION_TIMEOUT={{ etcd_election_timeout }}
ETCD_HEARTBEAT_INTERVAL={{ etcd_heartbeat_interval }}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_cluster_token }}
ETCD_LISTEN_PEER_URLS=https://{{ local_ip }}:{{ etcd_peer_port }}

{% set node_number = inventory_hostname | regex_replace('^.*-([0-9]+)$', '\\1') %}
ETCD_NAME=node{{ node_number }}
ETCD_PROXY=off

ETCD_INITIAL_CLUSTER={% for host in groups['rebrain_etcd'] %}node{{ hostvars[host]['inventory_hostname'] | regex_replace('^.*-([0-9]+)$', '\\1') }}=https://{{ hostvars[host]['local_ip'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}

ETCD_AUTO_COMPACTION_RETENTION=8
ETCD_SNAPSHOT_COUNT=10000
# Flannel need etcd v2 API
ETCD_ENABLE_V2=true

# TLS settings
ETCD_TRUSTED_CA_FILE=/etc/ssl/etcd/ssl/ca.pem
ETCD_CERT_FILE=/etc/ssl/etcd/ssl/server{{ node_number }}.pem
ETCD_KEY_FILE=/etc/ssl/etcd/ssl/server{{ node_number }}-key.pem
ETCD_CLIENT_CERT_AUTH=true

ETCD_PEER_TRUSTED_CA_FILE=/etc/ssl/etcd/ssl/ca.pem
ETCD_PEER_CERT_FILE=/etc/ssl/etcd/ssl/member{{ node_number }}.pem
ETCD_PEER_KEY_FILE=/etc/ssl/etcd/ssl/member{{ node_number }}-key.pem
ETCD_PEER_CLIENT_CERT_AUTH=true

# CLI settings
ETCDCTL_API=3
ETCDCTL_ENDPOINTS=https://127.0.0.1:2379
ETCDCTL_CACERT=/etc/ssl/etcd/ssl/ca.pem
ETCDCTL_KEY=/etc/ssl/etcd/ssl/client{{ node_number }}-key.pem
ETCDCTL_CERT=/etc/ssl/etcd/ssl/client{{ node_number }}.pem

# ETCD 3.5.x issue
# https://groups.google.com/a/kubernetes.io/g/dev/c/B7gJs88XtQc/m/rSgNOzV2BwAJ?utm_medium=email&utm_source=footer
ETCD_EXPERIMENTAL_INITIAL_CORRUPT_CHECK=True